<% layout("/layouts/boilerplate") %>

<div class="row mt-3">
    <div class="col-8 offset-2">
        <br />
        <br />
        <h3>Create a new listing</h3>
        <form
            method="POST"
            action="/listings"
            novalidate
            class="needs-validation"
            enctype="multipart/form-data"
        >
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input
                    type="text"
                    name="listing[title]"
                    placeholder="Enter a catchy title"
                    class="form-control"
                    required
                />
                <div class="valid-feedback">Title looks good</div>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea
                    type="text"
                    name="listing[description]"
                    placeholder="Enter description"
                    class="form-control"
                    required
                ></textarea>
                <div class="invalid-feedback">write some description</div>
            </div>

            <div class="mb-3">
                <label for="image" class="form-label">Upload Image</label>
                <input
                    type="file"
                    name="listing[image]"
                    class="form-control"
                    required
                />
            </div>

            <div class="row">
                <div class="mb-3 col-md-4">
                    <label for="price" class="form-label">Price</label>
                    <input
                        name="listing[price]"
                        placeholder="1200"
                        class="form-control"
                        required
                    />

                    <div class="invalid-feedback">
                        please enter a vaid price
                    </div>
                </div>
                <div class="mb-3 col-md-8">
                    <label for="country" class="form-label">Country</label>
                    <input
                        type="text"
                        name="listing[country]"
                        placeholder="India"
                        class="form-control"
                        required
                    />
                    <div class="invalid-feedback">Country name required</div>
                </div>
            </div>
            <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input
                    type="text"
                    name="listing[location]"
                    placeholder="Bokaro, Jharkhand"
                    class="form-control"
                    required
                />
                <div class="invalid-feedback">location required</div>
            </div>
            <br /><br />
            <button class="mt-3 btn btn-dark add-btn">ADD</button>
            <br />
        </form>
    </div>
</div>
