<% layout("/layouts/boilerplate") %>

<div class="alert alert-danger col-6 offset-3" role="alert">
    A simple danger alert—check it out!
    <h4 class="alert-heading"><%= err.message %></h4>
    <%= err.stack %>
</div>
